.App {
  text-align: center;
  display: grid;
  place-content: center;
  background: black;
  color: white;
  min-height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
}

input {
  margin-top: 20px;
}